h1 {
    font-size:90px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: bisque;
    text-align: center;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    color: bisque;
    text-align: center; 
    height: 2em;
    font-size: 30px;

  }
  input[type="submit"] {
    display: block;
    width: 5%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: bisque;
    border-color: white;
    min-width: 300px;
  }
  